<li class="nav-item menu-items">
    <a class="nav-link" href="{% url 'student_home' %}">
        <span class="menu-icon">
            <i class="mdi mdi-play"></i>
        </span>
        <span class="menu-title">Your Courses</span>
    </a>
</li>
<li class="nav-item menu-items">
    <a class="nav-link" href="{% url 'student_more_courses' %}">
        <span class="menu-icon">
            <i class="mdi mdi-school"></i>
        </span>
        <span class="menu-title">More Courses</span>
    </a>
</li>
<li class="nav-item menu-items">
    <a class="nav-link" href="{% url 'student_liveclass' %}">
        <span class="menu-icon">
            <i class="mdi mdi-video"></i>
        </span>
        <span class="menu-title">Live Class</span>
    </a>
</li>
<li class="nav-item menu-items">
    <a class="nav-link" href="{% url 'student_cart' %}">
        <span class="menu-icon">
            <i class="mdi mdi-cart"></i>
        </span>
        <span class="menu-title">My Cart</span>
    </a>
</li>
<li class="nav-item menu-items">
    <a class="nav-link" href="{% url 'student_events' %}">
        <span class="menu-icon">
            <i class="mdi mdi-calendar"></i>
        </span>
        <span class="menu-title">Events</span>
    </a>
</li>
<li class="nav-item menu-items">
    <a class="nav-link" href="{% url 'find_art' %}">
        <span class="menu-icon">
            <i class="mdi mdi-barley"></i>
        </span>
        <span class="menu-title">Find An Art</span>
    </a>
</li>

<li class="nav-item menu-items">
    <a class="nav-link" href="{% url 'student_store' %}">
        <span class="menu-icon">
            <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">Store</span>
    </a>
</li>

<li class="nav-item menu-items">
    <a class="nav-link" href="{% url 'student_notification' %}">
        <span class="menu-icon">
            <i class="mdi mdi-bell"></i>
        </span>
        <span class="menu-title">Notification</span>
    </a>
</li>